page-home {

}

ion-segment {
    display: block;
    white-space: nowrap;
    font-size: 0;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
        display: none;
    }

    ion-segment-button.segment-button {
        display: inline-block;
        min-width: 120px;
        width: auto;
    }
}

.poster {
    max-width: 25%;
}

.full {
    width: 100%
}
.progress {
    height: 6px;
    background: white;
    padding: 0px;
    margin: 0px;
}
.progressRest {
    height: 6px;
    background: gray;
    padding: 0px;
    margin: 0px;
}