page-series {

}

.white {
    color: white;
}

ion-tabs {
    color: green;
}

.bigger {
    font-size: 18px;
}

.abitpadding {
    padding: 10px;
}

ion-icon {
    font-size: 32px;
}

.width100 {
    width: 100%;
}