<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <!--<ion-title>Search</ion-title>-->
    <ion-searchbar
      #searchbar
      [(ngModel)]="keywords"
      [showCancelButton]="true"
      (keyup.enter)="search(keywords)">
    </ion-searchbar>
  </ion-navbar>

</ion-header>


<ion-content class="bg-style">
  <ion-item *ngFor="let series of foundSeries, let i = index" (click)="showSeries(series)">
    <ng-container *ngIf="series.banner">
      <img src="{{series.banner}}"/>
      <br> 
    </ng-container> 
    {{series.seriesName}} 
    <ng-container *ngIf="series.firstAired.split('-').length > 1">
      ({{series.firstAired.split("-")[0]}})
    </ng-container>
    <ng-container *ngIf="series.status">
      <br>
      Status: {{series.status}}
    </ng-container>
    <ng-container *ngIf="series.rating">
      <br>
      Rating: {{series.rating}}
    </ng-container>
    <ng-container *ngIf="series.network">
      <br>
      Network: {{series.network}}
    </ng-container>
  </ion-item>
</ion-content>
