page-seasons {

}
.right {
    text-align: right;
}
.full {
    width: 100%
}
.progress {
    height: 6px;
    background: white;
    padding: 0px;
    margin: 0px;
}
.progressRest {
    height: 6px;
    background: gray;
    padding: 0px;
    margin: 0px;
}
